################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MobileBankIDExample/MobileBankIDExample/bin/Debug
/MobileBankIDExample/MobileBankIDExample/obj/Debug
/MobileBankIDExample/MobileBankIDExample/obj/Debug
/.vs
/MobileBankIDExample/.vs/MobileBankIDExample/v15
/MobileBankIDExample/MobileBankIDExample/obj/Release
/MobileBankIDExample/packages
